apiVersion: v1
kind: Service
metadata:
  name: "{{ .Values.name }}"
  labels:
    app: "{{ .Values.name }}"
spec:
  type: LoadBalancer
  selector:
    app: "{{ .Values.name }}"
  ports:
    - port: 80
      targetPort: 3080
